# Explicit exports
export(calc_complementarity)
export(collapse_clades)
export(collapse_short_branches)
export(collapse_short_external_edges)
export(contains_polytomy)
export(count_foreground_lineage)
export(fill_node_labels)
export(force_ultrametric)
export(get_ancestor_num)
export(get_bootstrap_table)
export(get_children_num)
export(get_deepest_node_num)
export(get_descendent_num)
export(get_duplication_confidence_score)
export(get_expression_bases)
export(get_high_similarity_clades)
export(get_leaf_regimes)
export(get_leaf_table)
export(get_nearest_tips)
export(get_node_age)
export(get_node_name_by_num)
export(get_node_num_by_name)
export(get_outgroup)
export(get_parent_num)
export(get_parsed_args)
export(get_phy2_root_in_phy1)
export(get_placeholder_leaf)
export(get_placeholder_regime)
export(get_placeholder_tree)
export(get_regime_table)
export(get_root_num)
export(get_root_position_dependent_species_overlap_scores)
export(get_rooted_newick)
export(get_single_branch_tree)
export(get_sister_num)
export(get_species_name)
export(get_species_names)
export(get_species_overlap_score)
export(get_tip_labels)
export(get_tree_table)
export(has_same_leaves)
export(is_leaf)
export(is_root)
export(is_same_root)
export(is.blank)
export(leaf_table_collapse2original)
export(leaf2species)
export(MAD)
export(MAD_parallel)
export(map_node_num)
export(merge_replicates)
export(multi2bi_node_number_transfer)
export(pad_short_edges)
export(phylogenetic_imputation)
export(read_notung_parsable)
export(regime_table_collapse2original)
export(remove_invariant_traits)
export(remove_redundant_root_edge)
export(restore_imputed_leaves)
export(sort_exp)
export(table2phylo)
export(transfer_node_labels)
export(tree_table_collapse2original)
