name: R-CMD-check

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

permissions:
  contents: read

jobs:
  R-CMD-check:
    strategy:
      fail-fast: false
      matrix:
        r-version: ["4.1", "4.2", "4.3", "release"]
    runs-on: ubuntu-latest
    name: R ${{ matrix.r-version }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.r-version }}
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
      - uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual")'
